/*******
* CORE *
*******/
body
{
    padding: 0px;
    margin: 0px;
    background-color: #F0F0F0;
}

a
{
    color: black;
    text-decoration: none;
}


/*******
* MENU *
*******/
nav 
{
    background-color: #4E5D85;
    border-bottom: 2px solid black;
    height: 33px;
    margin: 0px;
    min-height: 33px;
    min-width: 180px;
    padding: 5px;
    width: 100%;
    min-width: 600px;
}

nav ul
{
    list-style-type: none;
    display: inline;
    color: white;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1.5px;
}

nav ul li
{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-right: 2px solid black;
}

nav ul li a, nav ul li a:visited
{
    color: white;
    text-decoration: none;
}

nav ul li a
{
    display: block;
    text-align: left;
    height: 28px;
    min-height: 28px;
    margin-top: 0px;
    padding-top: 0px;
}

nav ul li a:hover
{
    color: black;
}

nav ul li:hover < a
{
    color: black;
    background-color: white;
    border-bottom: 2px solid black;
}

/********
* INDEX *
********/
#welcome
{
    display: block;
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    min-width: 900px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.three_column_table
{
    display: table;
    width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    min-height: 400px;
}

.row
{
    display: table-row;
}

.lcolumn
{
    padding: 5px;
    display: table-cell;
    min-width: 130px;
    text-align: left;
} 

.mcolumn
{
    padding: 5px;
    display: table-cell;
    min-width: 500px;
    width: 500px;
    text-align: left;
    background: url('/img/cleveland-night.jpg') no-repeat;
}

.title
{
    display: block;
    color: white;
    background-color: #4E5D85; 
    border: 1px solid black;
    text-align: left;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    width: 170px;
    min-width: 170px;
    margin-top: 5px;
}

.rcolumn p
{
    margin: 0px;
    padding: 0px;
    width: 170px;
    min-width: 170px;
    background-color: #f0f0f0;
}

.rcolumn p:hover
{
    background-color: #ffffff;
}

.rcolumn a
{
    color: #1F8DD5;
}

.rcolumn
{
    display: table-cell;
    min-width: 170px;
    width: 170px;
    text-align: left;
    border: none;
    padding: 0px;
    margin: 0px;
}

.column_spacer
{
    display: block;
    min-height: 20px;
    height: 20px;
    width: 50px;
    min-width: 50px;
}

.box
{
    display: block;
    background-color: #F0F0F0;
    width: 182px;
    min-width: 182px;
}

.box p 
{
    margin: 0px;
    padding: 0px;
    background-color: #F0F0F0;
}

.box p a
{
    color: #1F8DD5;
}

.box p:hover
{
    background-color: white;
}

.box_title
{
    border: 1px solid black;
    width: 600px;
    min-width: 10px;
    display: block;
    background-color: #4E5D85;
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.box_links
{
    min-width: 600px;
    width: 600px;
    display: block;
}

.box_links p:hover
{
    background-color: #F0F0F0;
}

.footer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    min-width: 100%;
    margin-bottom: 10px;
    background-color: #F0F0F0;
}

.footer img
{
    margin-right: 10px;
}

.byline
{
    display: block;
    font-size: 6pt;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    background-color: #F0F0F0;
}

.meetings
{
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    color: black;
    text-align: left;
    width: 170px;
    min-width: 170px;
}

.meetings_title
{
    margin-left: 50px;
    padding-left: 0px;
    background-color: #4E5D85;
    padding-bottom: 0px; 
    width: 170px;
    min-width: 170px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    display: block;
}

.meetings_links
{
    display: block;
    background-color: #f0f0f0; 
    color: #1F8DD5;
    width: 170px;
    min-width: 170px;
    margin-left: 50px;
    padding-left: 0px;
}

.meetings_links p
{
    padding: 0px;
    margin: 0px;
}

.meetings_links p:hover
{
    background-color: white;
}

.meetings_links a
{
    color: #1F8DD5;
}

.holder
{
    width: 600px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}
